.logon-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh; /*Fazendo com que venha ocupar toda altura*/
  margin: 0 auto; /*Fazendo com que o conteúdo fique sempre centralizado*/

  display: flex;
  align-items: center; /*alinhar items Verticalmente*/
  justify-content: space-between; /*Alinhar o items horizontalmente e adicionar um spaço no meio*/
}

.logon-container section.form {
  width: 100%;
  max-width: 350px;
  margin: 30px;
}

.logon-container section.form form {
  margin-top: 100px;
}

.logon-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
